USE [master]
GO
/****** Object:  Database [ChessOnline]    Script Date: 8/16/2026 4:25:48 PM ******/
CREATE DATABASE [ChessOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChessOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\ChessOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChessOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\ChessOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChessOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChessOnline]
GO
/****** Object:  Table [dbo].[achievements]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achievements](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[icon_url] [varchar](255) NULL,
	[requirement_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[friendships]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friendships](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id_1] [bigint] NOT NULL,
	[user_id_2] [bigint] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[player_color] [varchar](5) NOT NULL,
	[ai_level] [int] NOT NULL,
	[result] [varchar](10) NOT NULL,
	[pgn] [nvarchar](max) NULL,
	[final_fen] [varchar](100) NULL,
	[total_moves] [int] NOT NULL,
	[duration_seconds] [int] NULL,
	[time_control] [int] NULL,
	[elo_before] [int] NULL,
	[elo_after] [int] NULL,
	[elo_change] [int] NULL,
	[played_at] [datetime2](7) NULL,
	[white_player_id] [bigint] NULL,
	[black_player_id] [bigint] NULL,
	[status] [varchar](20) NULL,
	[game_type] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[sender_id] [bigint] NOT NULL,
	[receiver_id] [bigint] NULL,
	[game_id] [bigint] NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puzzles]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puzzles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fen] [varchar](255) NOT NULL,
	[solution_moves] [varchar](255) NOT NULL,
	[rating] [int] NULL,
	[themes] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tournament_participants]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournament_participants](
	[tournament_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[score] [decimal](5, 1) NULL,
	[rank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[tournament_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tournaments]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournaments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[end_time] [datetime2](7) NULL,
	[status] [varchar](20) NULL,
	[time_control] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_achievements]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_achievements](
	[user_id] [bigint] NOT NULL,
	[achievement_id] [bigint] NOT NULL,
	[unlocked_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[achievement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_puzzles]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_puzzles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[puzzle_id] [bigint] NOT NULL,
	[is_solved] [bit] NOT NULL,
	[time_spent_seconds] [int] NULL,
	[user_puzzle_elo_after] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 8/16/2026 4:25:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[elo_rating] [int] NOT NULL,
	[total_games] [int] NOT NULL,
	[wins] [int] NOT NULL,
	[losses] [int] NOT NULL,
	[draws] [int] NOT NULL,
	[avatar_url] [varchar](255) NULL,
	[refresh_token] [varchar](512) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[puzzle_elo_rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[games] ON 

INSERT [dbo].[games] ([id], [user_id], [player_color], [ai_level], [result], [pgn], [final_fen], [total_moves], [duration_seconds], [time_control], [elo_before], [elo_after], [elo_change], [played_at], [white_player_id], [black_player_id], [status], [game_type]) VALUES (1, 1, N'WHITE', 5, N'WIN', N'1. e4 e5 2. Nf3 Nc6 3. Bc4 Bc5 4. b4 Bxb4 5. c3 Ba5 6. d4 exd4 7. O-O d3 8. Qb3 Qf6 9. e5 Qg6 10. Re1 Nge7 11. Ba3', N'r1b1k2r/ppppnppp/2n3q1/B1b1P3/2B5/1QP5/P4PPP/RN2R1K1 b kq - 2 11', 21, 245, 300, 1200, 1215, 15, CAST(N'2026-08-12T21:08:03.8033333' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[games] ([id], [user_id], [player_color], [ai_level], [result], [pgn], [final_fen], [total_moves], [duration_seconds], [time_control], [elo_before], [elo_after], [elo_change], [played_at], [white_player_id], [black_player_id], [status], [game_type]) VALUES (2, 1, N'BLACK', 10, N'LOSS', N'1. d4 d5 2. c4 e6 3. Nc3 Nf6 4. Bg5 Be7 5. e3 O-O 6. Nf3 Nbd7 7. Rc1 c6', N'r1bq1rk1/pp1nbppp/2p1pn2/3p2B1/2PP4/2N1PN2/PP3PPP/2RQKB1R w K - 1 8', 14, 380, 300, 1215, 1205, -10, CAST(N'2026-08-12T21:08:03.8033333' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[games] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [email], [password_hash], [elo_rating], [total_games], [wins], [losses], [draws], [avatar_url], [refresh_token], [is_active], [created_at], [updated_at], [puzzle_elo_rating]) VALUES (1, N'testuser', N'test@example.com', N'$2a$12$rCjZMXElNyg8.O.nTEbZEe72sZgfXLM0YTPUiPcN.VkUR.ZeL4.C.', 1169, 4, 1, 3, 0, NULL, N'958eb989-19f8-4785-a4c6-de3419a89b84-1f0a3426-c825-40f2-b30c-222dfae07b09', 1, CAST(N'2026-08-12T21:08:03.7900000' AS DateTime2), CAST(N'2026-08-15T23:04:48.7417870' AS DateTime2), NULL)
INSERT [dbo].[users] ([id], [username], [email], [password_hash], [elo_rating], [total_games], [wins], [losses], [draws], [avatar_url], [refresh_token], [is_active], [created_at], [updated_at], [puzzle_elo_rating]) VALUES (2, N'grandmaster', N'gm@example.com', N'$2a$12$6TpWkCHZzfcMKByCUelgDuzEWZryy3sN5UlECuMqZW5L/o0M7ap62', 2500, 0, 0, 0, 0, NULL, NULL, 1, CAST(N'2026-08-12T21:08:03.7900000' AS DateTime2), CAST(N'2026-08-12T21:37:03.7938630' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [idx_games_played_at]    Script Date: 8/16/2026 4:25:48 PM ******/
CREATE NONCLUSTERED INDEX [idx_games_played_at] ON [dbo].[games]
(
	[played_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_games_user_id]    Script Date: 8/16/2026 4:25:48 PM ******/
CREATE NONCLUSTERED INDEX [idx_games_user_id] ON [dbo].[games]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 8/16/2026 4:25:48 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 8/16/2026 4:25:48 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_users_email]    Script Date: 8/16/2026 4:25:48 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uq_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_users_username]    Script Date: 8/16/2026 4:25:48 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uq_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[friendships] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[friendships] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[friendships] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ((0)) FOR [total_moves]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT (getdate()) FOR [played_at]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ('COMPLETED') FOR [status]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ('PvE') FOR [game_type]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[puzzles] ADD  DEFAULT ((1200)) FOR [rating]
GO
ALTER TABLE [dbo].[tournament_participants] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[tournaments] ADD  DEFAULT ('UPCOMING') FOR [status]
GO
ALTER TABLE [dbo].[user_achievements] ADD  DEFAULT (getdate()) FOR [unlocked_at]
GO
ALTER TABLE [dbo].[user_puzzles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1200)) FOR [elo_rating]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [total_games]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [wins]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [losses]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [draws]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1200)) FOR [puzzle_elo_rating]
GO
ALTER TABLE [dbo].[friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_User1] FOREIGN KEY([user_id_1])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[friendships] CHECK CONSTRAINT [FK_Friendships_User1]
GO
ALTER TABLE [dbo].[friendships]  WITH CHECK ADD  CONSTRAINT [FK_Friendships_User2] FOREIGN KEY([user_id_2])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[friendships] CHECK CONSTRAINT [FK_Friendships_User2]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_Games_BlackPlayer] FOREIGN KEY([black_player_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_Games_BlackPlayer]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [fk_games_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [fk_games_user]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_Games_WhitePlayer] FOREIGN KEY([white_player_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_Games_WhitePlayer]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Game] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_Messages_Game]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_Messages_Receiver]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK_Messages_Sender]
GO
ALTER TABLE [dbo].[tournament_participants]  WITH CHECK ADD  CONSTRAINT [FK_TournamentParticipants_Tournament] FOREIGN KEY([tournament_id])
REFERENCES [dbo].[tournaments] ([id])
GO
ALTER TABLE [dbo].[tournament_participants] CHECK CONSTRAINT [FK_TournamentParticipants_Tournament]
GO
ALTER TABLE [dbo].[tournament_participants]  WITH CHECK ADD  CONSTRAINT [FK_TournamentParticipants_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tournament_participants] CHECK CONSTRAINT [FK_TournamentParticipants_User]
GO
ALTER TABLE [dbo].[user_achievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_Achievement] FOREIGN KEY([achievement_id])
REFERENCES [dbo].[achievements] ([id])
GO
ALTER TABLE [dbo].[user_achievements] CHECK CONSTRAINT [FK_UserAchievements_Achievement]
GO
ALTER TABLE [dbo].[user_achievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_achievements] CHECK CONSTRAINT [FK_UserAchievements_User]
GO
ALTER TABLE [dbo].[user_puzzles]  WITH CHECK ADD  CONSTRAINT [FK_UserPuzzles_Puzzle] FOREIGN KEY([puzzle_id])
REFERENCES [dbo].[puzzles] ([id])
GO
ALTER TABLE [dbo].[user_puzzles] CHECK CONSTRAINT [FK_UserPuzzles_Puzzle]
GO
ALTER TABLE [dbo].[user_puzzles]  WITH CHECK ADD  CONSTRAINT [FK_UserPuzzles_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_puzzles] CHECK CONSTRAINT [FK_UserPuzzles_User]
GO
USE [master]
GO


USE [ChessOnline]
GO

-- =======================================================
-- 1. TẠO BẢNG MỚI: tournament_matches (Quản lý từng trận đấu & Sơ đồ Bracket)
-- =======================================================
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tournament_matches]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[tournament_matches](<
        [id] [bigint] IDENTITY(1,1>) NOT NULL,
        [tournament_id] [bigint] NOT NULL,
        [round_number] [int] NOT NULL DEFAULT 1,          -- Vòng 1 (Tứ kết), Vòng 2 (Bán kết), Vòng 3 (Chung kết)...
        [match_order] [int] NOT NULL DEFAULT 1,           -- Trận thứ mấy trong vòng (Trận 1, 2, 3, 4)
        [white_player_id] [bigint] NULL,                  -- Kỳ thủ cầm quân Trắng
        [black_player_id] [bigint] NULL,                  -- Kỳ thủ cầm quân Đen
        [winner_id] [bigint] NULL,                        -- Kỳ thủ thắng trận
        [status] [varchar](20) NOT NULL DEFAULT 'SCHEDULED', -- SCHEDULED, READY, PLAYING, FINISHED, BYE, CANCELLED
        [game_id] [bigint] NULL,                          -- ID ván cờ thực tế trong bảng games
        [next_match_id] [bigint] NULL,                    -- ID của trận đấu ở vòng sau mà người thắng sẽ tiến vào
        [start_time] [datetime2](7) NULL,
        [end_time] [datetime2](7) NULL,
        [created_at] [datetime2](7) DEFAULT getdate(),
        PRIMARY KEY CLUSTERED ([id] ASC)
    ) ON [PRIMARY]

    -- Thêm các Foreign Key
    ALTER TABLE [dbo].[tournament_matches] WITH CHECK ADD CONSTRAINT [FK_TournamentMatches_Tournament] FOREIGN KEY([tournament_id])
    REFERENCES [dbo].[tournaments] ([id]) ON DELETE CASCADE

    ALTER TABLE [dbo].[tournament_matches] WITH CHECK ADD CONSTRAINT [FK_TournamentMatches_WhitePlayer] FOREIGN KEY([white_player_id])
    REFERENCES [dbo].[users] ([id])

    ALTER TABLE [dbo].[tournament_matches] WITH CHECK ADD CONSTRAINT [FK_TournamentMatches_BlackPlayer] FOREIGN KEY([black_player_id])
    REFERENCES [dbo].[users] ([id])

    ALTER TABLE [dbo].[tournament_matches] WITH CHECK ADD CONSTRAINT [FK_TournamentMatches_Winner] FOREIGN KEY([winner_id])
    REFERENCES [dbo].[users] ([id])

    ALTER TABLE [dbo].[tournament_matches] WITH CHECK ADD CONSTRAINT [FK_TournamentMatches_NextMatch] FOREIGN KEY([next_match_id])
    REFERENCES [dbo].[tournament_matches] ([id])
END
GO

-- =======================================================
-- 2. CẬP NHẬT BẢNG tournaments (Bổ sung các thuộc tính quản lý giải)
-- =======================================================
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournaments]') AND name = 'created_by')
BEGIN
    ALTER TABLE [dbo].[tournaments] ADD [created_by] [bigint] NULL;
    ALTER TABLE [dbo].[tournaments] WITH CHECK ADD CONSTRAINT [FK_Tournaments_CreatedBy] FOREIGN KEY([created_by])
    REFERENCES [dbo].[users] ([id]);
END
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournaments]') AND name = 'max_participants')
    ALTER TABLE [dbo].[tournaments] ADD [max_participants] [int] NOT NULL DEFAULT 8;
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournaments]') AND name = 'min_participants')
    ALTER TABLE [dbo].[tournaments] ADD [min_participants] [int] NOT NULL DEFAULT 4;
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournaments]') AND name = 'format')
    ALTER TABLE [dbo].[tournaments] ADD [format] [varchar](30) NOT NULL DEFAULT 'SINGLE_ELIMINATION';
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournaments]') AND name = 'current_round')
    ALTER TABLE [dbo].[tournaments] ADD [current_round] [int] NOT NULL DEFAULT 0;
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournaments]') AND name = 'created_at')
    ALTER TABLE [dbo].[tournaments] ADD [created_at] [datetime2](7) DEFAULT getdate();
GO

-- =======================================================
-- 3. CẬP NHẬT BẢNG tournament_participants (Đồng bộ với Java Entity)
-- =======================================================
-- Thêm cột joined_at nếu chưa có
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournament_participants]') AND name = 'joined_at')
    ALTER TABLE [dbo].[tournament_participants] ADD [joined_at] [datetime2](7) DEFAULT getdate();
GO

-- Thêm cột price nếu giải đấu có phí tham gia / giải thưởng
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournament_participants]') AND name = 'price')
    ALTER TABLE [dbo].[tournament_participants] ADD [price] [float] NULL DEFAULT 0;
GO

-- Thêm cột seed (Vị trí hạt giống khi bốc thăm)
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[tournament_participants]') AND name = 'seed')
    ALTER TABLE [dbo].[tournament_participants] ADD [seed] [int] NULL;
GO

-- =======================================================
-- 4. CẬP NHẬT BẢNG games (Liên kết ván cờ với Giải đấu & Trận đấu)
-- =======================================================
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[games]') AND name = 'tournament_id')
BEGIN
    ALTER TABLE [dbo].[games] ADD [tournament_id] [bigint] NULL;
    ALTER TABLE [dbo].[games] WITH CHECK ADD CONSTRAINT [FK_Games_Tournament] FOREIGN KEY([tournament_id])
    REFERENCES [dbo].[tournaments] ([id]);
END
GO

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[games]') AND name = 'tournament_match_id')
BEGIN
    ALTER TABLE [dbo].[games] ADD [tournament_match_id] [bigint] NULL;
    ALTER TABLE [dbo].[games] WITH CHECK ADD CONSTRAINT [FK_Games_TournamentMatch] FOREIGN KEY([tournament_match_id])
    REFERENCES [dbo].[tournament_matches] ([id]);
END
GO